.navContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171a21;
  top: 0;
  width: 100%;
  
}

.navContainer li {
  display: inline-block;
  height: 50px;
  padding: 0 8px;
}

.navContainer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
.navContainer li img{
    padding: 0 0;
}
.logoImg{
  height: 100%;
  
}
.cartImg{
  height: 100%;
}
/* Change the link color to #111 (black) on hover */
.navContainer li a:hover {
  background-color: #111;
}
.toTheRight{
  float: right;
}